<script>
$(document).ready(function(){

	$('#cohort-students').hide();
	$('#cohort-gists').hide();

	$('.button-cohort-students').on('click', function(event){
		event.preventDefault();
		$('#cohort-students').show();
		$('#cohort-gists').hide();
	});
	$('.button-cohort-gists').on('click', function(event){
		event.preventDefault();
		$('#cohort-students').hide();
		$('#cohort-gists').show();
	});
});
</script>



<div class="jumbotrontransparent jumbotron">
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="#" class="button-cohort-students" style="margin-left: 10px; margin-right: 3px;">Students</a></li>
	  <li role="presentation"><a href="#" class="button-cohort-gists">Gists</a></li>

	  <% if session[:instructor_id] %>
	  	<li role="presentation"><a href="/instructors/<%=session[:instructor_id]%>">Back to Instructor Page</a></li>
	  <% elsif session[:student_id] %>
	  	<li role="presentation"><a href="/students/<%=session[:student_id] %>">Back to Student Page</a></li>
	  <% elsif session[:producer_id] %>
	  	<li role="presentation"><a href="/producers/<%=session[:producer_id] %>">Back to Producer Page</a></li>
	  <% end %>
	</ul>

	<div class="jumbotronpersonalized jumbotron">
		<%= notice %>
		<h1>WDI <%= @cohort.cohort_name %></h1>
		<p>Starts On: <%= @cohort.start_on %> | End On: <%= @cohort.end_on %> </p>
		
		<%= render 'gists' %>
		<%= render 'students' %>

	</div>
</div>
