<script>
$(document).ready(function(){
	$('#cohort-students').hide();
	$('#cohort-gists').hide();
});
</script>

<ul class="tab-all tabs" style="margin-top: 0; margin-bottom: 0;">
	<li class="tab-links button-cohort-students">Students</li>
	<li class="tab-links button-cohort-gists">Gists</li>
</ul>

<script>
	$('.button-cohort-students').on('click', function(){
		$('#cohort-students').show();
		$('#cohort-gists').hide();
	});
	$('.button-cohort-gists').on('click', function(){
		$('#cohort-students').hide();
		$('#cohort-gists').show();
	});
</script>

<div class="tab-content">
<%= notice %>
<h1>Cohort <%= @cohort.cohort_name %></h1>
<p>Start Date: <%= @cohort.start_on %> </p>
<p>End On: <%= @cohort.end_on %> </p>

<%= render 'students' %> <!-- id="cohort-students" -->
<%= render 'gists' %> <!-- id="cohort-gists" -->
</div>


