<h1> Assignment New Page </h1>
<%= form_for @assignment do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :prompt_link %>
  <%= f.text_field :cohort_id %>
  <%= f.text_field :instructor_id %>
  <%= f.text_field :assigned_on %>
<% end %>