<div class="jumbotrontransparent jumbotron">
	<div class="jumbotronpersonalized jumbotron">
		<h1>Assignment Show Page</h1>

		<p> Title: <%= @assignment.title %> </p>
		<p> Link: <%= @assignment.prompt_link %> </p>
		<p> Cohort: <%= @assignment.cohort.cohort_name %></p>
		<p> Assigned On: <%= @assignment.assigned_on %></p>
		<p> Made by: <%= @assignment.instructor.name %> </p>
 </div>

