<div id="student-main-page">
  <h1><%= @student.name %>'s Page</h1>
  <% if @student.submitted_hw? <= 20 %> 
  	<p>You have submitted less than 20% of assignments. Please email one of your instructors: 
 	 <% @student.cohort.instructors.each do |instructor| %>
   		 <%= mail_to instructor.email, instructor.name %>
 	 <% end %>

  <% end %> 

  <p>Current Grade: <%= @student.completion_rate %>%</p>
  <p>Percentage of Assignments Submitted: <%= @student.submitted_hw? %>%</p>
  <p>Number of Unsubmitted Assignments: <%= @student.pending_assignments? %></p>
</div>