<h1><%= @student.name %>'s Assignments / Submissions</h1>
<h3><%= @student.cohort.cohort_name %></h3>
<ul>
  <% @submissions.each do |submission| %>
    <li>
      <%= submission.submitted_on %>
      </br>
      <a hre="students/<%= submission.student.id %>/submissions/<%= submission.id %>"><%= submission.title %></a>
      </br>
      <a href="/assignments/<%= submission.assignment.id %>"><%= submission.assignment.title %></a>
      </br>
      <%= submission.grade_status %>
    </li>
  <% end %>
</ul>
