<script>
$(document).ready(function(){
	$('#assignments-students').hide();
	$('#submissions').hide();
	$('#submit-homework').hide();
	$('#gists-students').hide();
});
</script>

<div class="jumbotrontransparent jumbotron">
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="#" class="button-assignments-students" style="margin-left: 10px; margin-right: 3px;">Assignments</a></li>
	  <li role="presentation"><a href="#" class="button-submissions" style="margin-right: 3px;">Submissions</a></li>
	  <li role="presentation"><a href="#" class="button-submit-homework" style="margin-right: 3px;">Submit Homework</a></li>
	  <li role="presentation"><a href="#" class="button-gists-students">Gists</a></li>
	</ul>
	<div class="jumbotronpersonalized jumbotron">
		<%= render 'assigments' %> <!-- id="assignments-students">-->
		<%= render 'submissions' %> <!-- id="submissions"> -->
		<%= render 'submithomework' %> <!-- id="submit-homework"> -->
		<%= render 'gists' %> <!-- id="gists-students">-->
		<%= render 'main' %> 
	</div>
 </div>

<script>
	$('.button-assignments-students').on('click', function(){
		$('#assignments-students').show();
		$('#submissions').hide();
		$('#submit-homework').hide();
		$('#gists-students').hide();
		$('#student-main').hide();
	});
	$('.button-submissions').on('click', function(){
		$('#assignments-students').hide();
		$('#submissions').show();
		$('#submit-homework').hide();
		$('#gists-students').hide();
		$('#student-main').hide();
	});
	$('.button-submit-homework').on('click', function(){
		$('#assignments-students').hide();
		$('#submissions').hide();
		$('#submit-homework').show();
		$('#gists-students').hide();
		$('#student-main').hide();
	});
	$('.button-gists-students').on('click', function(){
		$('#assignments-students').hide();
		$('#submissions').hide();
		$('#submit-homework').hide();
		$('#gists-students').show();
		$('#student-main').hide();
	});
</script>


