<div id="instructor-new-gist">
<h1>New Gist</h1>

<div class = "center form-actions">

<p>Verify with Github to create gists</p>
<a href="<%= github_auth_url %>">Authorize Here!</a>

<%= form_for @new_gist, url:{:controller=>'gists', :action=>'create', :id => @new_gist.id } do |f| %>
<%= f.text_field :title, :placeholder => "Give it a title" %>
<%= f.hidden_field :instructor_id, :value => session[:instructor_id] %>
<%= f.hidden_field :date, :value => Date.today %>
<%= f.select(:cohort_id, @cohorts.all.map {|p| [ p.cohort_name, p.id.to_i ] }) %><br><br>
<%= f.text_area :content, rows: 5, cols: 100, :placeholder => "Content" %><br><br>

<%= f.submit "Submit" %>

<% end %>

</div>
</div>