<script>
$(document).ready(function(){
	$('#instructor-cohorts').hide();
	$('#instructor-new-gist').hide();
	$('#instructor-assignments').hide();
	$('#instructor-gists').hide();
});
</script>

<ul class="tab-all tabs" style="margin-top: 0; margin-bottom: 0;">
<li class="tab-links button-instructor-cohorts">Cohorts</li>
<li class="tab-links button-instructor-assignments">Assignments</li>
<li class="tab-links button-instructor-gists">Gists</li>
<li class="tab-links button-instructor-new-gist">Create New Gist</li>
</ul>

<script>
	$('.button-instructor-cohorts').on('click', function(){
		$('#instructor-cohorts').show();
		$('#instructor-new-gist').hide();
		$('#instructor-assignments').hide();
		$('#instructor-gists').hide();
	});
	$('.button-instructor-assignments').on('click', function(){
		$('#instructor-cohorts').hide();
		$('#instructor-new-gist').hide();
		$('#instructor-assignments').show();
		$('#instructor-gists').hide();
	});
	$('.button-instructor-gists').on('click', function(){
		$('#instructor-cohorts').hide();
		$('#instructor-new-gist').hide();
		$('#instructor-assignments').hide();
		$('#instructor-gists').show();
	});
	$('.button-instructor-new-gist').on('click', function(){
		$('#instructor-cohorts').hide();
		$('#instructor-new-gist').show();
		$('#instructor-assignments').hide();
		$('#instructor-gists').hide();
	});
</script>

<div class="tab-content">
<h1><%= @instructor.name %>'s Portal</h1>
<%= @instructor.email %>
<%= render 'cohorts' %> <!-- id="instructor-cohorts" -->
<%= render 'newgist' %> <!-- id="instructor-new-gist" -->
<%= render 'assignments' %> <!-- id="instructor-assignments" -->
<%= render 'gists' %> <!-- id="instructor-gists" -->
</div>


