<h1>Instructors Show Page</h1>

<!-- COHORTS -->
<h1>Cohorts</h1>
<ul>
<% @cohorts.each do |cohort| %>
<li><%= link_to cohort.cohort_name, cohort_path(cohort) %></li>
<% end %>
</ul>


<!-- STUDENTS -->
<h1>Students</h1>
<ul>
<%= @students.each do |student| %>
<li><%= link_to student.name, student_path(student) %></li>
<% end %>
</ul>


<!-- ASSIGNMENTS CREATED -->
<h1>Assigments</h1>
<ul>
<% @assignments.each do |assignment| %>
<li><%= link_to assignment.title, assignment_path(assignment)%></li>
<% end %>
</ul>


<!-- SUBMISSIONS (ALL) -->
<h1>All Submissions</h1>
<ul>
<% @submissions.each do |submission| %>
<li><%= link_to submission.title, submission_path(submission) %></li>
<% end %>
</ul>


<!-- SUBMISSIONS (PENDING) -->
<% @submissions_pending = @submissions.where(grade_status: "Pending")%>

<h1>Pending Submissions</h1>
<ul>
<% @submissions_pending.each do |submission| %>
<li><%= link_to submission.title, submission_path(submission) %></li>
<% end %>
</ul>


<!-- GISTS -->
<h1>Gists by me</h1>
<ul>
<% @gists.each do |gist| %>
<%= link_to gist.title, cohort_path(gist) %>
<% end %>
</ul>
