<h1>SIGNUP</h1>
<p>Instructor</p>
<%= form_for @instructor, url:{:controller=>'instructors', :action=>'create', :id => @instructor.id} do |f| %>
  	<%= f.text_field :name, :placeholder => "Name" %>
	<%= f.text_field :email, :placeholder => "Email" %>
	<%= f.password_field :password, :placeholder => "Password" %>
	<%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
	<%= f.submit "Submit" %>
<% end %>