<div id="hidden-div-producer" class="tab-content">
<h1>SIGNUP</h1>
<p>Welcome on Board Producer!<br>
Thanks for using your key. <br>
Sign Up here to start enjoying all the benefits that our GA portal offers.</p>

<%= form_for @producer , url:{:controller=>'producers', :action=>'create', :id => @producer.id} do |f| %>
	<%= f.text_field :name, :placeholder => "Name" %>
	<%= f.email_field :email, :placeholder => "Email" %>
	<%= f.password_field :password, :placeholder => "Password" %>
	<%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %> 
	<%= f.submit "Submit" %>
<% end %>
</div>