<!-- KEY -->
<script>
$(document).ready(function(){
	$('#hidden-div-instructor').hide();
	$('#hidden-div-student').hide();
	$('#hidden-div-producer').hide();
	$('#hidden-div-login').hide();
});
</script>

<h1>Welcome to the G.A. Homework Hub</h1>
<p>You must be a currently enrolled student, a producer or a instructor to be able to sign up.<br> Already have your key? Type it here to continue</p>
<input class="key-test-input" type="password">
<button class="key-test-button">Validate</button>

<script>
var key_instructor = "<%= ENV["key1"] %>";
var key_producer = "<%= ENV["key2"] %>";
var key_instructor = "<%= ENV["key3"] %>";

	$('.key-test-button').on('click', function(){
		if ($('.key-test-input').val() === environment){
			$('#hidden-div-instructor').show();
		} else if ($('.key-test-input').val() === "MYKEYP"){
			$('#hidden-div-producer').show();
		} else if ($('.key-test-input').val() === "MYKEYS"){
			$('#hidden-div-student').show();
		} 
	});
</script>

<p>Already Registered?<br>
<button class="login-button">Login</button> <!-- This should be javascripted to take to LOGIN -->
</p>

<script>
	$('.login-button').on('click', function(){
		$('#hidden-div-login').show();
	});
</script>



 <%= render 'login' %>
 <%= render 'instructorsignup' %>
 <%= render 'producersignup' %>
 <%= render 'studentsignup' %>
 