<%= notice %>

<script>
$(document).ready(function(){
	$('#hidden-div-instructor').hide();
	$('#hidden-div-student').hide();
	$('#hidden-div-producer').hide();
	$('#hidden-div-login').hide();
	$('#main-root').show();
});
</script>

<button class="login-button">LOGIN</button> 
<button class="main-root-button">MAIN</button>

<script>
	$('.login-button').on('click', function(){
		$('#hidden-div-login').show();
		$('#hidden-div-instructor').hide();
		$('#hidden-div-producer').hide();
		$('#hidden-div-student').hide();
		$('#main-root').hide();
	});

	$('.main-root-button').on('click', function(){
		$('#hidden-div-login').hide();
		$('#hidden-div-instructor').hide();
		$('#hidden-div-producer').hide();
		$('#hidden-div-student').hide();
		$('#main-root').show();
	});
</script>

 <%= render 'main' %>
 <%= render 'login' %>
 <%= render 'instructorsignup' %>
 <%= render 'producersignup' %>
 <%= render 'studentsignup' %>
 