<script>
$(document).ready(function(){
	$('#hidden-div-instructor').hide();
	$('#hidden-div-student').hide();
	$('#hidden-div-producer').hide();
	$('#hidden-div-login').hide();
	$('#main-root').show();
});
	$('.login-button').on('click', function(){
		$('#hidden-div-login').show();
		$('#hidden-div-instructor').hide();
		$('#hidden-div-producer').hide();
		$('#hidden-div-student').hide();
		$('#main-root').hide();
	});

	$('.main-root-button').on('click', function(){
		$('#hidden-div-login').hide();
		$('#hidden-div-instructor').hide();
		$('#hidden-div-producer').hide();
		$('#hidden-div-student').hide();
		$('#main-root').show();
	});
</script>

<div class ="jumbotab">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#">Profile</a></li>
	  <li role="presentation"><a href="#">Messages</a></li>
	</ul>
</div>

<div class="jumbotron">
	 <%= render 'main' %>
	 <%= render 'login' %>
	 <%= render 'instructorsignup' %>
	 <%= render 'producersignup' %>
	 <%= render 'studentsignup' %>
 </div>

 