
<%= notice %>

<!-- KEY -->
<script>
$(document).ready(function(){
	$('#hidden-div-instructor').hide();
	$('#hidden-div-student').hide();
	$('#hidden-div-producer').hide();
	$('#hidden-div-login').hide();
});
</script>

<h1>Welcome to the G.A. Homework Hub</h1>
<p>You must be a currently enrolled student, a producer or a instructor to be able to sign up.<br> Already have your key? Type it here to continue</p>
<input class="key-test-input" type="password">
<button class="key-test-button">Validate</button>

<script>
var key_instructor = "<%=  Rails.application.secrets.instructor_key %>";
var key_producer = "<%=  Rails.application.secrets.instructor_key %>";
var key_student = "<%=  Rails.application.secrets.instructor_key %>";

	$('.key-test-button').on('click', function(){
		if ($('.key-test-input').val() === key_instructor){
			$('#hidden-div-instructor').show();
			$('#hidden-div-student').hide();
			$('#hidden-div-producer').hide();
			$('#hidden-div-login').hide();
		} else if ($('.key-test-input').val() === key_producer){
			$('#hidden-div-producer').show();
		} else if ($('.key-test-input').val() ===key_student){
			$('#hidden-div-student').show();
		} 
	});
</script>

<p>Already Registered?<br>
<button class="login-button">Login</button> 
</p>

<script>
	$('.login-button').on('click', function(){
		$('#hidden-div-login').show();
	});
</script>



 <%= render 'login' %>
 <%= render 'instructorsignup' %>
 <%= render 'producersignup' %>
 <%= render 'studentsignup' %>
 