<h1><%= @submission.student.name %>'s Homework from <%= @submission.assignment.title %></h1>

<p><b>Link:</b> <a href="<%= @submission.submission_link %>">Click Here</a></p>
<p><b>Status:</b> <%= @submission.grade_status %></p>

<p><b>Submission Comments:</b>
<br><%= @submission.comments %></p>

<button class="previous-page">Back</button>
<script>
$(document).ready(function(){
	$('.previous-page').click(function(){
		parent.history.back();
		return false;
	});
});
</script>