<div class="jumbotrontransparent jumbotron">

	<ul class="nav nav-tabs">
	  <% if session[:instructor_id] %>
	  	<li role="presentation"><a style="margin-left: 10px; margin-right: 3px;" href="/instructors/<%=session[:instructor_id]%>">Back to Instructor Page</a></li>
	  <% elsif session[:student_id] %>
	  	<li role="presentation"><a style="margin-left: 10px; margin-right: 3px;" href="/students/<%=session[:student_id] %>">Back to Student Page</a></li>
	  <% elsif session[:producer_id] %>
	  	<li role="presentation"><a style="margin-left: 10px; margin-right: 3px;" href="/producers/<%=session[:producer_id] %>">Back to Producer Page</a></li>
	  <% end %>
	 </ul>

	<div class="jumbotronpersonalized jumbotron">
		<h1>Gist "<%= @gist.title %>"</h1>
		<p> <b>Content:</b> <br>
		<%= markdown(@gist.content) %> </p>
		<p> <b>Link:</b> <%= @gist.gist_link%> | <b> Created on:</b> <%= @gist.date %> </p>
	</div>
 </div>

