<!DOCTYPE html>
<html>
<head>
  <title>HomeworkHub</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <%= session[:instructor_id] %>
  <!-- HEADER -->
  <div class="navbar navbar-fixed-top navbar-custom ">
    <img class="header-logo navbar-left" src="http://washingtontechnology.org/wp-content/uploads/2014/11/General_Assembly_logo.png">
    <p class="header-label navbar-left">HOMEWORK HUB</p>
    <% if session[:student_id] %>
      <%= link_to "Sign Out", login_path, :method => :delete, :class => "logout navbar-right" %>
      <% @user = Student.find(session[:student_id]) %>
      <p class="logout navbar-right"> Hello, <%= @user.name %>!</p>
    <% elsif session[:instructor_id] %>
      <%= link_to "Sign Out", login_path, :method => :delete, :class => "logout navbar-right" %>
      <% @user = Instructor.find(session[:instructor_id]) %>
      <p class="logout navbar-right"> Hello, <%= @user.name %>!</p>
    <% elsif session[:producer_id] %>
      <%= link_to "Sign Out", login_path, :method => :delete, :class => "logout navbar-right" %>
      <% @user = Producer.find(session[:producer_id]) %>
      <p class="logout navbar-right"> Hello, <%= @user.name %>!</p>
    <% end %>
  </div>
  <!--/HEADER-->

  <!-- BODY-->
    <%= yield %>
  <!--/BODY-->
  

</body>
</html>
