<!DOCTYPE html>
<html>
<head>
  <title>HomeworkHub</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <!-- HEADER -->
<!--   <div class="navbar navbar-fixed-top navbar-custom "> -->

<!--     <img class="header-logo navbar-left" src="http://washingtontechnology.org/wp-content/uploads/2014/11/General_Assembly_logo.png"> -->
    <p class="header-label navbar-left">HOMEWORK HUB</p>
    <% if session[:student_id] %>
      <% @user = Student.find(session[:student_id]) %>
      <p> Hello, <%= @user.name %>!</p>
      <%= link_to "Sign Out", login_path, :method => :delete, :class => "logout" %>
    <% elsif session[:instructor_id] %>
      <% @user = Instructor.find(session[:instructor_id]) %>
      <p> Hello, <%= @user.name %>!</p>
      <%= link_to "Sign Out", login_path, :method => :delete, :class => "logout" %>
    <% elsif session[:producer_id] %>
      <% @user = Producer.find(session[:producer_id]) %>
      <p> Hello, <%= @user.name %>!</p>
      <%= link_to "Sign Out", login_path, :method => :delete, :class => "logout navbar -right" %>
    <% end %>

  </div>
  <!--/HEADER-->

  <!-- BODY-->
    <%= yield %>
  <!--/BODY-->
  

</body>
</html>
